# **VARIABLES**

## INDICE

- 0. Introducción
- 1. Funciones
- 2. Cadenas de texto o String
- 3. Indexing Y Slicing // Concatenación
- 4. Función input()
- 5. Booleanos
  - 5.1 True o False
  - 5.2 Operadores de comparación

# 0. INTRODUCCIÓN

# Título grande
## Título mediano
### Título pequeño

_tema_ --> Cursiva
**negrita**

In [ ]:
#los asteriscos dentro del código se usan para explicar lo que estás haciendo y para que otra persona pueda entenderlo
"""para varias líneas se usa la triple comilla"""

a = 3 
b = 150

In [ ]:
#las variables no pueden

Empezar por números 12edad
Tener espacios mi edad
Empezar por asterisco *miedad

#Las variables correctas pueden ser
edad
mi_edad
numero_de_pasajeros (sin accentos)
numerodepasajeros

# 1. Funciones

- '+' --> suma (sin las comillas)
- '-' --> resta (sin las comillas)
- '*' --> multiplica (sin las comillas)
- '/' --> divide (sin las comillas)
- //   --> da la división sin el resto, es decir, se queda solo con la parte entera
- %    --> nos proporciona el resto (_ejemplo 20%2 = 0_)
- **   --> número elevado a x (_ejemplo 2 elevado a 3 >> 2**3)
- pow()  --> número elevado a x (_ejemplo pow(2,3) >> 2 elevado a 3_)
- divmod ()
- round () --> redondeo (_ejemplo round(2.546738,2) >> al poner el número "2.546732" y después de la , un 2 te lo va a redondear a 2.54_)
- abd()  --> te lo pasa a números absolutos
- max() --> max(2,3,4,5,6,7,8) >> te proporcionará el número MÁXIMO entre esos números. 
- min()  --> min(2,3,4,5,6,7,8) >> te proporcionará el número MÍNIMO entre esos números. También se puede utilizar  print(min(peras,uvas))  --> te dará el valor mínimo de esas variables
- sorted()
- sum(()) --> suma una lista
- print()  --> lo añadimos para asegurarnos que muestre el resultado, que se ejecute.

**EJEMPLO DE CLASE**

In [3]:
patatas = 30
maria = 50
kilos = 2.5

In [4]:
peras = 30
uvas = 50

In [5]:
peras + uvas #suma

80

In [6]:
#aquí estaría sobreescribiendo el código y cambiando el valor inicial que daba a peras = 30 y/o uvas = 50
peras = 10
uvas = 5

In [7]:
#se puede sumar directamente, pero se suele utilizar la función print

print (uvas + peras)

15

In [8]:
print(min(peras,uvas)) #te da el valor mínimo

5

In [ ]:
fruta_menor = min(peras,uvas)
#aquí no hace falta añadir el print porque estamos dando un valor a una variable. En el caso que añadiésemos el print daría error

### EXPLICACIÓN

In [ ]:
#como es *texto* hay que poner el nombre, en este caso Julia, entre comillas "Julia" porque si no no lo entenderá o dará error

nombre = "Julia"

#si necesitas decir SI o NO, hay que usar TRUE o FALSE, respectivamente

clienta = True

### EJEMPLOS CLASE

In [ ]:
nombre = "Julia"
edad = 40
altura = 1.70
clienta = False

In [ ]:
#EJECUTAR VARIABLES

#Hay que añadir la f antes para que sepa que estás añadiendo variables y que tiene que leerlas

print(f"hola, {nombre}, como tienes {edad} y mides {altura}, te ofrecemos esta oferta.")

hola, Julia, como tienes 40 y mides 1.7, te ofrecemos esta oferta.

## 2. CADENAS DE TEXTO O STRING

In [2]:
- texto.upper()  --> ejemplo nombre.upper()  --> te pondrá en nombre en mayúscula
- texto.lower()  --> ejemplo nombre.lower()  --> te pondrá en nombre en minúscula
- texto.title() --> sirve para poner la primera de cada palabra en mayus
- texto.capitalize()  --> cambiar las mínusculas por mayus y viceversa
- texto.swapcase()
- texto.strip() --> quita los espacios de una frase
- texto.split() --> separa las palabras de una frase
- texto.replace() --> sustituye palabras Ejemplo "me encanta pyton"  -->  lema.replace("pyton", "comer") te sustituye pyton por comer --> el ejecutarlo la frase final es "me encanta comer"
- len() --> dice cuanto mide el texto --> Ejemplo abajo
- texto.find()
- texto.count()


(!) todas las funciones que empiezan por "." la variable irá antes de la funcion "ejemplo" nombre.upper() // si la función es directamente, la variable irá entre los paréntesis "ejemplo" len(nombre)  (!)

SyntaxError: invalid syntax (245004351.py, line 1)

### EJEMPLOS

In [6]:
texto = "Hola, me llamo María"

In [8]:
print(texto.title())
print(texto.swapcase())
print(texto.upper())

Hola, Me Llamo María
hOLA, ME LLAMO mARÍA
HOLA, ME LLAMO MARÍA

In [31]:
frase = " hola que tal "

In [33]:
#quita los espacios delante y detrás#

frase.strip()

'hola que tal'

In [35]:
#separa las palabras de una frase# 
frase.split()

['hola', 'que', 'tal']

In [36]:
frase2 = "Hola, que tal, yo bien, y tu"

In [37]:
#para seprar teniendo en cuenta las comas#

frase2.split(",")

['Hola', ' que tal', ' yo bien', ' y tu']

In [38]:
len(frase2)

28

# 3. Indexing Y Slicing // Concatenación

start:stop:step

### EXPLICACIÓN

In [ ]:
Posición 1 [0]
Siempre va a contar uno de menos, si quiero llegar a "me gusta" aunque son 7 caracteres, tengo que llegar hasta el 8 [0:8]
Si quiero que salte carácteres, por ejemplo una si una no, se tiene que añadir el "step" [0:8:3]

In [40]:
"Me gusta el chocolate" [0:4]

'Me g'

In [41]:
"Me gusta el chocolate" [0:8]

'Me gusta'

In [42]:
"me gusta el chocolate" [0:8:2]

'm ut'

# 4. Función input()

In [44]:
#sirve para que otra persona añada esa información porque yo no la tengo, quiero preguntarlo. Por ejemplo, quiero saber la edad de la clienta pero no lo se, por lo que tengo que preguntarselo. Un cuestionario#

nombre = input("dime tu nombre por favor")

In [47]:
print(f"hola, {nombre}")

hola, Penelope

In [13]:
# en este caso da error, porque la pregunta espera un NUMERO y la respuesta del usuario ha sido "muchos" por tanto, da error. 
edad_usuario = int(input("qué edad tienes?"))

ValueError: invalid literal for int() with base 10: 'muchos'

In [ ]:
(!) INFORMACIÓN (!)
                 
 #las variables númericas son enteras o int y decimales o float
edad = 40 #esta es entera o int
estatura = 1.75  #esta es decimal o float y lleva punto

int()  --> lo que se le pase por aquí lo convierte en número ENTERO
str() --> lo que le pase lo pasa a cadena de texto
float()  --> pasa de números enteros a decimales.

In [48]:
#con esta funcioón le decimos que lo que nos diga, lo entienda como número#
edad = int(input("dime tu edad, por favor"))

In [ ]:
"""f-string"""" 

Se usa para lo mismo que estás usando el + y el f, simplemente que suele ser más fácil, 
porque no tienes que ir abriendo y cerrando comillas tipo: ("Yo tengo" gatos "y así vivo feliz"). 
Con el f string lo pones todo del tirón: (f'Tengo {perros} y así vivo feliz")

In [49]:
print(f"hola, {nombre}, se que tienes {edad} años")

hola, Penelope, se que tienes 30 años

# 5. BOOLEANOS

## 5.1 TRUE o FALSE

In [1]:
#los booleanos son valores de True o Flase y van sin comillas
#los booleanos (bool) no se pueden hacer en divisiones 
mayor_de_edad = True

True = 1 
False = 0 

- in = si el número está dentro de 
- not in
- not, and, or
- si una variable está vacia, es cero o nulo = False
- bool() --> esta función sirve para convertir algo en booleano, es decir, que nos diga si es TRUE o FALSE

SyntaxError: cannot assign to True (3861927932.py, line 5)

In [11]:
"""el [] se usa para datos el {} se usa en la funcion print() cuando queremos intervalar el dato de una variable que tengamos guardada, usamos un f-string"""
print(f"tengo {edad} años")

tengo 40 años

### EJEMPLOS

In [ ]:

cancion = "qué bonito está el día"

In [51]:
"día" in cancion

True

In [52]:
"noche" in cancion

False

ValueError: invalid literal for int() with base 10: 'muchos'

## 5.2 OPERADORES DE COMPARACION

In [ ]:
==  --> se usa para hacer comparaciones
!=  --> diferente a X
<
<=
>
>=

In [53]:
numero2 = 20

In [54]:
20 == 20

True

In [55]:
20 != 20

False

prueba prueba