## **LISTAS**

# Índice

- 1. Explicación
- 2. Funciones
- 3. Ejemplos 1 
- 4. Ejemplo de .copy()
- 5. Ejemplos 2

### 1. EXPLICACIÓN

Listas [] - Datos heterogéneos, acepta repetidos, elementos mutables, accesible por índice

- Listas = []
- Heteogénea [3,4,"maría", False]
- Indexación y slicing --> lista1[0] --> te devuelve el primer ítem de la lista
- Mutable: lista[1] = 4 --Z te cambia el valor
- Unir listas
- Converir en lista --> list()
- in y not in 


### 2. **FUNCIONES**

- .append() --> añadir nuevo elemento a la lista (solo uno) y lo añade al FINAL
- .insert() --> añade elemento, se le indica la posición y el número. Ejemplo: lista_insert(0,1)
- .extend() --> añadir varios elementos a la lista, entre corchetes
- .remove()
- .pop()
- .reverse()
- .sort() --> sirve ORDENAR de una lista, pero tienen que ser del mismo tipo o int o str
- .clear() --> limpia una lista
- .count() --> cuenta cuantas veces aparece en la lista el elemento que pongamos entre paréntedid ej: lista_cuenta.count("fresas")
- len() --> nos dice cuantos elementos tiene la lista
- min() -->#sirve para que nos de el MINIMO de una lista, pero tienen que ser del mismo tipo o int o str
- max() --> #sirve para que nos de el MAXIMO de una lista, pero tienen que ser del mismo tipo o int o str
- .copy() --> sirve para crear una copia independiente del listado original. de manera que si modificas 1 u otro se realizará un cambio unicamente sobre el que se ha hecho el cambio
- .index(): Devuelve el índice de la primera ocurrencia del elemento especificado en la lista.

### 3. EJEMPLOS 1

In [1]:
#ejemplo 
lista1 = ["marta", 20, "madrid", True]

In [2]:
lista1[0]

'marta'

In [6]:
numeros = 1,2,3,4,5,6

In [ ]:
#para que la variable "numeros" se cree como variable de lista, hay que crear variable nueva, ejemplo: 

lista_numeros = list(numeros)

In [ ]:
#en este caso 20 pasa a la posición de True
lista1[1] = 4

In [9]:
print(lista_numeros)

[1, 2, 3, 4, 5, 6]

In [ ]:
""".append()""" #sirve para insertar un número en la lista, lo va a añadir al final
lista_numeros.append(50)

In [15]:
print(lista_numeros)

[1, 2, 3, 4, 5, 6, 15, 15, 15, 50]

In [ ]:
""".insert()""" #Sirve para insertar un número en la lista. El primer número indica la posición y el segundo el número a insertar
lista_numeros.insert(0,5)

In [19]:
print(lista_numeros)

[5, 1, 1, 2, 3, 4, 5, 6, 15, 15, 15, 50]

In [ ]:
""".extend()""" #añade varios elementos a la lista entre corchetes

datos_clientes = ["carla", 20, "valencia"]

In [21]:
print(datos_clientes)

['carla', 20, 'valencia']

In [22]:
datos_clientes.extend(["Calle Ramon y cajal", 1234])

In [23]:
print(datos_clientes)

['carla', 20, 'valencia', 'Calle Ramon y cajal', 1234]

In [25]:
#quitar elementos de la lista 

""".remove()"""  #quita un elemento en contcreto
""".pop()"""  #quita el último elemento de la lista o el de una ubicación en concreto

'.pop()'

In [26]:
datos_clientes.remove("valencia")

In [27]:
print(datos_clientes)

['carla', 20, 'Calle Ramon y cajal', 1234]

In [29]:
datos_clientes.extend(["calle ramon y cajal", 1234])

In [30]:
print(datos_clientes)

['carla', 20, 'Calle Ramon y cajal', 1234, 'calle ramon y cajal', 1234]

In [31]:
datos_clientes.pop()

1234

In [32]:
print(datos_clientes)

['carla', 20, 'Calle Ramon y cajal', 1234, 'calle ramon y cajal']

In [33]:
datos_clientes.pop(0)

'carla'

In [34]:
print(datos_clientes)

[20, 'Calle Ramon y cajal', 1234, 'calle ramon y cajal']

### 4. **EJEMPLO DE .copy()**

In [1]:
temperatura = [1,2,3,4,5,6]

In [9]:
temperatura2 = temperatura.copy() #si no pones el copy todos los cambios que se haga en uno u otro se replicarán por igual

In [3]:
temperatura2

[1, 2, 3, 4, 5, 6]

In [7]:
temperatura2.insert(0,10) #posición, elemento a insertar

In [8]:
print(temperatura)
print(temperatura2)

[1, 2, 3, 4, 5, 6]
[10, 1, 2, 3, 4, 5, 6, 0]

### 5. EJEMPLOS 2

In [ ]:
#creamos una lista con países
paises = ["Suecia", "España", "Francia"]

In [ ]:
# preguntamos a un usuario un país nuevo, creando la variable "país_nuevo"
pais_nuevo = input("dime un país nuevo")

In [36]:
pais_nuevo

'Grecia'

In [44]:
#añadimos la variable "país_nuevo" con la respuesta del usuario a nuesta lista "paises"
paises.append(pais_nuevo)

In [45]:
paises

['España', 'Grecia', 'francia', 'suecia', 'Grecia']

In [ ]:
#ordenamos las repsuestas
paises.sort()

In [46]:
paises

['España', 'Grecia', 'francia', 'suecia', 'Grecia']