# **TUPLAS** 
### Datos heterogéneos que no se pueden modificar, acepta repetidos, son inmutables y accesible por índice

### EXPLICACIÓN 
- Tuplas --> Van entre paréntisi ()
- Heterogéneas (3,2,"Maria", False)
- Indexación y Slicing
- Inmutables, no se pueden aladir, eliminar o cambiar sus elementos (excepto si se pasa a lista)
- Para cambiar se puede pasar a LISTA
- Puede contener elementos MUTABLES
- Convertir en tupla tuple()
- in y not in 

### FUNCIONES 

(_solo funciones de consulta_)

- .count()
- .index()
- len()
- min()
- max()

### EJEMPLOS

In [3]:
#ELEMENTOS MUTABLES

tupla = (20, "Lluvia", "Sevilla", [1,2,3,4])

In [4]:
#cambia las posiciones de la lista
tupla[3][0] = 2

In [5]:
tupla

(20, 'Lluvia', 'Sevilla', [2, 2, 3, 4])

In [6]:
#convertir en lista 

lista2 = list(tupla)

In [7]:
lista2

[20, 'Lluvia', 'Sevilla', [2, 2, 3, 4]]

### EJEMPLO - ejercicio clase

In [8]:
tupla_nueva = [2,4,5,True, "Cádiz"]

In [9]:
#en la ubicación 0 es la primera posición y el siguiente número mostrará la posición de antes. POR EJEMPLO: si quieres llegar a la primera posición y a  "cadiz" tendrás que poner [0,6]
tupla_nueva[0:6]

[2, 4, 5, True, 'Cádiz']

In [10]:
#si quiero preguntar si María está en la tupla

"maría" in tupla_nueva

False

In [11]:
#si quiero convertir en lista la "tupla_nueva"
lista3 = list(tupla_nueva)

In [12]:
lista3.append(2456)

In [13]:
lista3

[2, 4, 5, True, 'Cádiz', 2456]

In [14]:
#quiero convertirlo en tupla

tupla_definitiva = tuple(lista3)

In [15]:
tupla_definitiva

(2, 4, 5, True, 'Cádiz', 2456)