# **CONJUNTOS o SETS**

# Índice

- 1. Explicación
- 2. Funciones
- 3. Funciones Especiales
- 4. Ejemplos
- 5. Ejemplos con funciones especiales

_____________________________________

### 1. EXPLICACIÓN

- Conjunto = {}  --> Ejemplo: {"Rocio", True, 2}
- Valores heterogéneos
- No acepta valores repetidos
- Elementos mutables en cuanto a añadir o eliminar, npero no permite listas o diccionarios
- NO accesible por Indice, no tiene orden
- Convertir en conjunto: set()
- in, not in

### 2. FUNCIONES

- len() --> buscadore de elemento
- .add() --> para añadir un elemento más. SOLO UNO
- .update() --> para pasarle una lista de elementos
- .copy()
- .remove() --> elimina UN SOLO ELEMENTO y da error si no existe
- .discard() --> igual que remove( pero no da error)
- .pop()
- .clear()

### 3. FUNCIONES ESPECIALES

- a.union(b) o a | b --> Muestra todos los elementos en una única lista SIN REPETIR los elementos
- a.intersection(b) o a & b --> Muestra los elementos en común entre los dos conjuntos
- a.difference(b) o a-b --> Muestra los que aparece en uno, quitando los que aparecen en el otro
- a.symetric_difference(b) o a^b --> Muestra los que no tengan en común
- a.issuebset(b) o a <= b --> Da (True) si todos los elementos de "a" están en "B"
- a.issuperset(b) o a >= b --> da (True) si "a" contene todos los elementos de "b"

### 4. EJEMPLOS

In [1]:
#no tiene orden, cada vez que se imprime te lo hace de forma aleatoria
conjunto = {1,25,54,3,2,1}

In [2]:
conjunto

{1, 2, 3, 25, 54}

In [3]:
conjunto

{1, 2, 3, 25, 54}

In [4]:
#añade una lista de elementos, (!) añadir los corchetes entre los valores [] también se puede hacer con {}
conjunto.update([33,55,600])

In [5]:
#añade un solo elemento
conjunto.add(50)

In [6]:
conjunto

{1, 2, 3, 25, 33, 50, 54, 55, 600}

In [7]:
#a.union(b) o a | b --> Muestra todos los elementos en una única lista SIN REPETIR los elementos

"""a""" 
conjunto1 = {"Maria", "antonio", "juan", "Luisa", "Cecilia", "pepa"}
"""b""" 
conjunto2 = {"Marta", "lucia", "juan", "Luisa", "Rosa", "pepa"}

In [8]:
conjunto1.union(conjunto2)

{'Cecilia',
 'Luisa',
 'Maria',
 'Marta',
 'Rosa',
 'antonio',
 'juan',
 'lucia',
 'pepa'}

In [9]:
#haces la misma función de arriba 
conjunto1 | conjunto2

{'Cecilia',
 'Luisa',
 'Maria',
 'Marta',
 'Rosa',
 'antonio',
 'juan',
 'lucia',
 'pepa'}

In [10]:
#elementos en común entre los dos conjuntos
conjunto1 & conjunto2

{'Luisa', 'juan', 'pepa'}

In [11]:
conjunto1.intersection(conjunto2)

{'Luisa', 'juan', 'pepa'}

In [12]:
#ver la diferencia entre a y b
conjunto1 - conjunto2

{'Cecilia', 'Maria', 'antonio'}

In [13]:
#te dice que el conjunto 2 es más pequeño que el conjunto 1
conjunto1 <= conjunto2

False

### 5. EJEMPLO CON FUNCIONES ESPECIALES
- a.issuebset(b) o a <= b --> Da (True) si todos los elementos de "a" están en "B"
- a.issuperset(b) o a >= b --> da (True) si "a" contene todos los elementos de "b"

In [14]:
conjunto3 = {"juana","pepa"}
conjunto4 = {"juana", "pepa", "luisa"}

In [15]:
#es TRUE porque conjunto 4 tiene igual o MAS de elementos iguales. En este caso, todos los valores de conjunto3 "Juana" & "Pepa" y están en conjunto4. 
#conjunto4 puede tener más valores, lo importante es que TODOS los del conjunto3 estén en el conjunto4
conjunto3 <= conjunto4

True

In [16]:
conjunto3 = {"juana","pepa","PEDRO"}
conjunto4 = {"juana", "pepa", "luisa"}

In [17]:
#ahora es FALSE porque NO coinciden TODOS los valores de conjunto 3 (en este caso, "PEDRO") con el conjunto4. 
# Para que fuese TRUE, TODOS los valores de conjunto3 tiene que estar en conjunto4, pero NO hace falta que todos los valores de Conjunto3 esté en conjunto4.
conjunto3 <= conjunto4

False

In [18]:
conjunto3 = {"juana","pepa"}
conjunto4 = {"pedro", "luisa"}

In [19]:
#ahora da FALSE porque NO COINCIDE NINGUN VALOR
conjunto3 <= conjunto4

False